<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/tweetGameStyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Tweeter game</h1>
    </header>

    <% if(tweets){ %>

    <!-- ako postoji data u tweets -->

    <!-- Stvara cijeli tweet body za svaki tweet -->
    <% for(let i=0;i<tweets.users.length;i++){ %>
    <div class="tweetBody">
      <div class="profileInfo" onclick="openCloseDropdown(<%=i%>)">

        <!-- Ostali profili koji su skriveni: -->
        <% for(let j=0;j<tweets.users.length;j++){ %>
          <% if(j==i){ %>
          <div class="listItem">
            <img class="avatar" src="<%= tweets.users[j].profile_image_url %>" alt="avatar" />
            <div class="listItemRightSide">
              <div class="nameAndArrow">
                <p class="nickName"><%= tweets.users[j].name %></p>
                <img src="images/triangle.svg" alt="drop down icon" class="triangle"/>
              </div>
              <p class="userName">@<%= tweets.users[j].username %></p>
            </div>
          </div>

          <% }else{%>
            <div class="listItem dropdownItems" onclick="swap(<%=i%>,<%=j%>)">
              <img class="avatar" src="<%= tweets.users[j].profile_image_url %>" alt="avatar" />
              <div class="listItemRightSide">
                <p class="nickName"><%= tweets.users[j].name %></p>
                <p class="userName">@<%= tweets.users[j].username %></p>
              </div>
            </div>
          <% }%>
        <% }%>

      </div>
      <p class="description"><%= tweets.tweets[i].text %></p>
      <% if(tweets.tweets[i].images){ %>
        <% for(let imgIndex=0;imgIndex < tweets.tweets[i].images.length;imgIndex++){ %>
          <img src="<%= tweets.tweets[i].images[imgIndex] %>" alt="attachedImage" class="tweetImage" style="width:<%= 100/tweets.tweets[i].images.length %>%">
        <% } %>
      <% } %>
      <p class="createdAt"><%=  tweets.tweets[i].created_at %></p> 
    </div>
    <% }%>
    <!--  -->
    <% }%>

    <button onclick="submitPairs()">VERIFY</button>
  </body>
  


  <script>

    let userList = <%-usersForJs%>;
    const tweetList = <%- tweetsForJs%>;

    let tweetBodies = document.querySelectorAll(".tweetBody");
    

    /*

      SWAP FUNKCIJA

    */
    function swap(tweetIndex,authorIndex){
      // swapanje autora u varijabli
      console.log(tweetIndex + "->" + authorIndex);
      const temp = userList[tweetIndex];
      userList[tweetIndex]=userList[authorIndex];
      userList[authorIndex]=temp;

      // mijenjanje html-a sa novim redosljedom
      for(let i=0;i<userList.length;i++){

        let listItems = tweetBodies[i].querySelectorAll(".listItem");
        
        for(let j=0;j<listItems.length;j++){
          
          let avatar = listItems[j].querySelector(".avatar");
          let nick = listItems[j].querySelector(".nickName");
          let user = listItems[j].querySelector(".userName");
         
          avatar.src = userList[j].profile_image_url;
          nick.innerHTML = userList[j].name;
          user.innerHTML = userList[j].username;
        }
      }
    } 


    /*

      OPEN CLOSE DROPDOWN FUNCKIJA

    */
    let openDropdowns = [0,0,0,0,0];

    function openCloseDropdown(tweetIndex){
      let profileInfo = tweetBodies[tweetIndex].querySelector(".profileInfo");
      let dropdownItems = tweetBodies[tweetIndex].querySelectorAll(".dropdownItems");
      let listItems = tweetBodies[tweetIndex].querySelectorAll(".listItem");
      let triangle = tweetBodies[tweetIndex].querySelector(".triangle")
      
      if(openDropdowns[tweetIndex]==1){
        // zatvori stisnuti dropdown
        tweetBodies[tweetIndex].classList.remove("focusedTweetBody");
        profileInfo.style.zIndex="0";
        profileInfo.style.boxShadow="none";
        triangle.style.transform = "rotateZ(0)";
        dropdownItems.forEach(item=>{
          item.style.display = "none";
        });
        listItems.forEach(item=>{
          item.style.padding = "0.5rem 0.5rem";
        });
        for(let i=0;i<5;i++){
          tweetBodies[i].classList.remove("blurredTweet");
        }
        profileInfo.style.top = `auto`;
        openDropdowns[tweetIndex]=!openDropdowns[tweetIndex];

      }else if(openDropdowns[tweetIndex]==0){
        //otvori dropdown

        //zatvori sve ostale tabove
        for(let i=0;i<5;i++){
          if(i!=tweetIndex){
            tweetBodies[i].classList.add("blurredTweet");
          }else{
            tweetBodies[i].classList.remove("blurredTweet");
          }

          if(openDropdowns[i]==1){
            openCloseDropdown(i);
          }
        }


        profileInfo.style.zIndex="1";
        profileInfo.style.boxShadow="0px 0px 8px rgba(0, 0, 0, 0.75)";
        triangle.style.transform = "rotateZ(180deg)";
        dropdownItems.forEach(item=>{
          item.style.display = "flex";
        });
        listItems.forEach(item=>{
          item.style.padding = "1rem 0.5rem";
        });

        let heightOffset = 0;
        for(let i=0;i<tweetIndex;i++){
          heightOffset+= listItems[i].offsetHeight;
        }
        profileInfo.style.top = `${24-heightOffset}px`;


        openDropdowns[tweetIndex]=!openDropdowns[tweetIndex];
      }


    }

    /*

      SUBMIT PAIRS FUNKCIJA

    */
    function submitPairs(){
      for(let i=0;i<tweetList.length;i++){
        let pair={
          data:{
            author_id: userList[i].id,
            tweet_id: tweetList[i].id
          }
        };
        
        fetch('/checkauthor',{
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(pair),
        })
          .then((response) => response.json())
          .then((data) => {
             tweetBodies[i].querySelector(".nickName").style.color = data.result ? "#82C99B":"#DB7070";
             if(data.result == true){
              tweetBodies[i].querySelector(".triangle").src="images/checkBold.svg"
              openDropdowns[i]=2; //postavi u 2 da se vise ne moze otvoriti tocno pogodeni dropdown
             } 
          });
      }
    }

  </script>  
</html>


